#root, html, body, .App {
  height: 100%;
}

body, button {
  font-family: Nunito !important;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}