
html, body, #root, .App {
  height: 100%;
}

body, button, h1,h2,h3,h4,h5,h6 {
  font-family: Nunito !important;
}

button {
  border-radius: 24px !important;
  font-weight: bold !important;
  text-transform: none !important;
  box-shadow: none !important;
}

#subscribeInput {
  padding: 8px;
}

.googleLogin {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.googleLogin div {
  background-color: transparent !important;
}

.MuiAccordion-root:before {
  background-color: unset !important;
}

.MuiCollapse-root {
  background: #f0ffee;
    border-radius: 20px;
}